# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# secrets (никогда не коммитим ключи)
*.env
secrets.plist
